beautifulsoup4==4.13.4
bigquery-schema-generator==1.6.1
boto3==1.38.40
botocore==1.38.40
cattrs==25.1.1
cloudpickle==3.1.1
Cython==3.1.2
ipywidgets==8.1.7
joblib==1.5.1
lxml==5.4.0
pandas-gbq==0.29.1
pyarrow==20.0.0
PyICU==2.15.2
google-cloud-bigquery>=2.26.0
db-dtypes==1.4.3
s3path==0.6.4
scikit-learn==1.7.0
six==1.17.0
convertdate==2.4.0
matplotlib==3.10.3
numpy==2.2.6
pandas==2.3.0
tqdm==4.67.1
LunarCalendar==0.0.9
holidays==0.75
bigquery-views-manager==1.0.10
Jinja2>=3.0.0,<3.2.0
MarkupSafe==3.0.2
urllib3>=2, <3