beautifulsoup4==4.9.3
bigquery-schema-generator==1.1
boto3==1.16.12
cattrs==1.0.0
cloudpickle==1.4.1
fbprophet==0.7.1
ipywidgets==7.5.1
joblib==0.17.0
lxml==4.6.1
matplotlib==3.3.2
numpy==1.19.3
pandas==1.1.4
pandas-gbq==0.14.1
PyICU==2.5
tqdm==4.51.0
google-cloud-bigquery==2.3.1
s3path==0.2.201
scikit-learn==0.23.2
six==1.15.0
