beautifulsoup4==4.9.3
bigquery-schema-generator==1.4
boto3==1.16.60
cattrs==1.0.0
cloudpickle==1.4.1
ipywidgets==7.6.3
joblib==1.0.1
lxml==4.6.3
pandas-gbq==0.14.1
pyarrow==2.0.0
PyICU==2.6
google-cloud-bigquery==2.6.1
s3path==0.2.205
scikit-learn==0.24.1
six==1.16.0
pystan==2.19.1.1
convertdate==2.3.2
matplotlib==3.3.4
numpy==1.19.5
pandas==1.2.4
tqdm==4.56.0