beautifulsoup4==4.13.5
bigquery-schema-generator==1.6.1
boto3==1.38.46
botocore==1.40.36
cattrs==25.2.0
cloudpickle==3.1.1
Cython==3.1.4
ipywidgets==8.1.7
joblib==1.5.2
lxml==6.0.2
pandas-gbq==0.29.2
pyarrow==21.0.0
PyICU==2.15.3
google-cloud-bigquery>=2.26.0
db-dtypes==1.4.3
s3path==0.6.4
scikit-learn==1.7.2
six==1.17.0
convertdate==2.4.0
matplotlib==3.10.6
numpy==2.2.6
pandas==2.3.2
tqdm==4.67.1
LunarCalendar==0.0.9
holidays==0.81
bigquery-views-manager==1.0.18
Jinja2>=3.0.0,<3.2.0
MarkupSafe==3.0.2
urllib3>=2, <3