apache-airflow[crypto,celery,postgres,jdbc,ssh]==1.10.15
dask[complete]==2.30.0
distributed==2.30.0
papermill==2.3.3
click==7.1.2
ansiwrap==0.8.4
zope.deprecation==4.4.0
zict==2.0.0
zipp==3.4.0
Werkzeug==0.16.1