apache-airflow[crypto,celery,postgres,jdbc,ssh]==2.7.1
apache-airflow-providers-amazon==7.2.1
papermill==2.3.3
pendulum==2.1.2
click>=7.1.2
ansiwrap==0.8.4
zope.deprecation==4.4.0
zict==2.0.0
zipp==3.4.0
Werkzeug>=1.0.1
tqdm==4.62.0
traitlets==5.1.1
toolz==0.11.1
Flask-AppBuilder==4.3.6
black==21.8b0